@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: #A4C3B2;
  /* background-image: url(/src/Assets/Images/Male-chef-with-black-bandana-cutting-ingredients-with-a-knife-in-the-kitchen-768.jpg); */
}


.carouselHeader {
  width: 260px;
  height: 300px;
}

.WhiteColor{
  background-color: gold
}
.col1{
  background-color: #CCE3DE;
  height: rem;
}
.bg1{
  background-color: #CCE3DE;
  
}
.LastBg{
  background-color: #CCE3DE;

}
.footerbg{
  background-color: #EAF4F4;
}
.Recipesbg{
  background-color: #CCE3DE;
}
.bgEAF4F4{
  background-color: #ffffff;
  padding-top: 2rem;
}
.inputbg{
  background-color: #D9D9D9;

}
.bg2{
  background-color: #EAF4F4;
}
.savebtn{

    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    border: white;
    font-weight: 700;
    font-size: x-large;
    text-align: center;
 
    background-color: #A4C3B2;
}
.bgcolor{
  background: #F0FAF6;


}
.header1{
  width: 1100px;
height: 25px;


font-family: 'Noto Serif';
font-style: normal;
font-weight: 400;
font-size: 16px;



}
.savebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weight{
  

  background: #c7939336;
 
}
.weight1{
  
 
  background: #ffffff65;
 
}
